@import "tailwindcss";
@import "leaflet/dist/leaflet.css";




:root {
  --eco-green: #2e7d32;
  --eco-orange: #ff6f00;
  --eco-mint: #f1fdf3;
  --eco-charcoal: #2e2e2e;
  --eco-slate: #6e6e6e;
  --eco-white: #ffffff;
}

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */


body{
  background-color: var(--eco-mint);
   font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: medium;
}


#how-it-works{
   font-size: large;
  background-image: linear-gradient(to bottom right, rgb(14, 150, 43), rgba(155, 219, 146, 0));
  background-size: cover;
  background-repeat: no-repeat;
}


#Nav{
position: fixed;
  top: 0;
  left: 0;
  width: 100%
}